body {
	top: 0px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background: #e4ebe9 url(../images/background.png) repeat top left;
}
div#header {
	width: 100%;
	background: #000000;
}
div#content {
	text-align: center;
}
div#footer {
	clear: both;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.h_tab, #h_tab {
	width: 100%;
	height: 50px;
	color: #ffffff;
}

.h_tab tr, #h_tab tr {
	height: 100%;
	vertical-align: middle;
}

.h_tab td, #h_tab td {
	height: 100%;
	width: 120px;
	text-align: center;
}

.h_tab td:hover, #h_tab td:hover {
	height: 100%;
	width: 120px;
	text-align: center;
	background: gray;
	cursor: pointer;
}

.h_tab a, #h_tab a {
	color: #ffffff;
	text-decoration: none;
}